body {
  margin: 0;
  padding: 0;
}
.mainapp {
  width: 100%;
}
.maintable {
  width: 700px;
  margin: 7% auto 0;
  text-align: center;
}
.maintable h1 {
  font-size: 50px;
  text-transform: capitalize;
  margin-bottom: 0;
}
.maintable p {
  text-transform: capitalize;
  font-size: 20px;
}
.incress_btn {
  background-color: brown;
  font-size: 50px;
  font-weight: 700;
  color: #fff;
  width: 50px;
  float: left;
  text-align: center;
  margin-right: 15px;
  margin-left: 33%;
}
.incress_btn a {
  color: #fff;
  text-decoration: none;
}
.dicress_btn {
  background-color: brown;
  font-size: 50px;
  font-weight: 700;
  color: #fff;
  width: 50px;
  float: left;
  text-align: center;
  margin-right: 15px;
}
.dicress_btn a {
  color: #fff;
  text-decoration: none;
}
.input {
  width: 100px;
  float: left;
  margin-right: 15px;
}
.fild {
  width: 100%;
  height: 60px;
  font-size: 50px;
  text-align: center;
}
